export(MackChainLadder, MunichChainLadder, BootChainLadder, MultiChainLadder)
export(as.triangle)
export(chainladder)
export(getLatestCumulative)
export(incr2cum, cum2incr)
export(Join2Fits, JoinFitMse, Mse, residCov, residCor)
export(ClarkLDF, ClarkCapeCod)

importFrom(stats, quantile, predict, coef, vcov,
              residuals, resid, fitted, fitted.values, rstandard)
importFrom(methods, show, coerce, cbind2, rbind2 )
importFrom(graphics, plot)
importFrom(Matrix, summary)

#Classes
exportClasses(triangles, MultiChainLadder, MultiChainLadderFit,
              MCLFit, GMCLFit, MultiChainLadderMse, MultiChainLadderSummary,
			NullNum, NullChar)
           
#Methods
S3method(plot, MackChainLadder)
S3method(plot, MunichChainLadder)
S3method(plot, BootChainLadder)
S3method(plot, triangle)
S3method(plot, clark)

S3method(print, MackChainLadder)
S3method(print, MunichChainLadder)
S3method(print, BootChainLadder)
S3method(print, triangle)
S3method(print, clark)



S3method(as.triangle, matrix)
S3method(as.triangle, data.frame)
S3method(as.data.frame, triangle)

S3method(summary, MackChainLadder)
S3method(summary, MunichChainLadder)
S3method(summary, BootChainLadder)


S3method(predict, TriangleModel)
S3method(predict, ChainLadder)
S3method(residuals, MackChainLadder)
S3method(quantile, BootChainLadder)
S3method(residuals, BootChainLadder)
S3method(mean, BootChainLadder)


exportMethods(predict, Mse, summary, show, coerce,
              "[", "$", "[[", "[<-", names, coef, vcov, residCov, residCor,
              residuals, resid, rstandard, fitted, fitted.values, plot, cbind2, rbind2, dim )
