export(MackChainLadder, MunichChainLadder, BootChainLadder)
importFrom(stats, quantile)
#Methods
S3method(plot, MackChainLadder)
S3method(plot, MunichChainLadder)
S3method(plot, BootChainLadder)

S3method(print, MackChainLadder)
S3method(print, MunichChainLadder)
S3method(print, BootChainLadder)


S3method(summary, MackChainLadder)
S3method(summary, MunichChainLadder)
S3method(summary, BootChainLadder)

S3method(predict, TriangleModel)
S3method(residuals, MackChainLadder)
S3method(quantile, BootChainLadder)
S3method(residuals, BootChainLadder)
S3method(mean, BootChainLadder)
